.category-preview-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  @media screen and (max-width: 800px) {
    align-items: center;
  }

  h2{
    margin-bottom: 25px;

    .title {
      font-size: 28px;
    }
  }

  .see-more{
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
  }

    
  

  

  .preview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;

    @media screen and (max-width: 800px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 15px;
      row-gap: 15px;
    }
  }
}
